.el-posonnal-content .col-sm-3 ul li {
  padding: 0;
  line-height: 40px;
  background-color: #F5F5F5;
}
.el-posonnal-content .col-sm-3 ul li a {
  width: 100%;
  display: block;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}
.el-posonnal-content .col-sm-3 ul li ul {
  margin: 0 ;
  padding: 0;
  list-style: none;
}
.el-posonnal-content .col-sm-3 ul li ul li {
  background-color: #FFFFFF;
}
.el-posonnal-content .col-sm-3 ul li ul li a {
  line-height: 40px;
  display: block;
  padding-left: 40px;
}
.el-posonnal-content .col-sm-9 .panel-heading {
  padding-left: 0px;
}
.el-posonnal-content .col-sm-9 .panel-heading img {
  width: 80px;
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}
.el-posonnal-content .col-sm-9 .panel-top {
  border-top: 0 !important;
  border-radius: 0 ;
}
.el-posonnal-content .el-money {
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  font-size: 18px;
}
.el-posonnal-content .el-money .col-sm-4 span {
  color: #2e8ece;
}
.el-posonnal-content .el-btn {
  padding-top: 30px;
  padding-bottom: 20px;
}
.el-posonnal-content .el-phone {
  border-bottom: 1px solid #DDDDDD ;
  margin-top: 30px;
}
.el-posonnal-content .el-phone .col-sm-4 {
  padding-top: 20px;
}
#el-main {
  width: 600px;
  height: 100%;
}
/*左侧滑动栏*/
@media screen and (max-width: 768px) {
  .el-posonnal-content {
    overflow: hidden;
  }
  .offcanvas-title {
    min-height: 550px;
  }
  .offcanvas {
    position: relative;
    transition: all  1s;
  }
  .el-offcanvas-left {
    position: absolute;
    left: -50%;
    width: 50%;
  }
  .offcanvas-right {
    position: relative;
  }
  .offcanvas-btn {
    position: absolute;
    padding: 10px 1px;
    z-index: 100 ;
    top: 30%;
    left: -5px;
  }
  .offcanvas-btn i {
    font-size: 30px;
  }
  .active1 {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
  }
  .el-borrow-one {
    min-height: 650px;
  }
  .el-borrow-one .form-group {
    margin: 36px 0 !important;
  }
  .el-borrow-one .el-dialog {
    display: none;
  }
  .el-borrow-one .btn {
    left: 104px !important;
    top: 46px !important;
  }
}
.el-flow table td {
  line-height: 40px !important;
}
.el-title {
  width: 100%;
  height: 50px;
  background-color: #40D47E ;
  color: white;
  font-size: 26px;
  line-height: 50px;
  padding-left: 20px;
  margin-top: 20px ;
}
.el-title-one {
  background-color: #EC7E20 ;
}
.el-title-two {
  background-color: #2e8ece;
}
.el-body {
  padding: 30px 10px;
  background-color: #F9F9F9 ;
  width: 100%;
}
.el-body p:nth-child(1) {
  font-size: 20px;
}
.el-body p:nth-child(3) {
  font-size: 14px;
  color: #ADADAD;
}
.el-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.el-body ul li {
  background-image: url("../images/sequare.png");
  background-repeat: no-repeat;
  padding-left: 20px;
}
.el-body > .text-center > a {
  display: inline-block;
  background-color: #00a8ff;
  border-radius: 30px;
  text-align: center;
  padding: 4px 6px;
  margin-top: 10px;
  color: white;
}
.el-head {
  width: 100%;
  padding: 30px 10px;
  background-color: #F4F8FA;
  border-left: 2px solid #2e8ece;
}
.el-head strong {
  color: #2e8ece;
  font-size: 20px;
  line-height: 30px;
}
.el-head p {
  margin-top: 10px;
}
.el-body2 .panel-body {
  font-size: 25px;
}
.el-body2 .panel-body .label {
  margin-left: 10px;
}
/*表单*/
.el-borrow-one {
  padding-left: 40px;
}
.el-borrow-one .form-group {
  margin: 20px 0;
}
.el-borrow-one .col-sm-3 {
  position: relative;
}
.el-borrow-one .col-sm-3 .form-control {
  position: absolute;
  left: 0;
  width: 80%;
  border-radius: 5px 0 0 5px !important;
}
.el-borrow-one .col-sm-3 .el-span {
  position: absolute;
  display: block;
  margin: 0 ;
  padding: 0;
  width: 20%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #CCCCCC;
  border-left: 0;
  border-radius: 0 5px 5px 0px;
  right: 0;
  background-color: #EEEEEE;
}
.el-borrow-one .col-sm-8 .form-control {
  position: absolute;
  left: 0;
  width: 80%;
  border-radius: 0 !important;
  resize: none;
}
.el-borrow-one .btn {
  position: absolute;
  left: 140px;
  top: 20px;
}
.el-dialog {
  position: absolute;
  right: 180px;
  top: 222px;
  border: 1px solid #DDDDDD;
  width: 32%;
  padding: 20px;
  box-shadow: 0px 0px 30px #EDEDED;
}
.el-borow-footer {
  margin-top: 50px !important;
}
.el-bow-info-title .panel-body {
  text-align: center;
}
.el-bow-info-title img {
  width: 100px;
}
.el-bow-info-title .el-bow-info-left .glyphicon {
  display: inline-block;
  background-color: green;
  padding: 5px;
  color: white;
}
/*中间*/
.el-bow-info-middle p:nth-child(1) {
  color: #2e8ece;
  font-size: 25px;
}
.el-bow-info-middle p:nth-child(1) span {
  font-size: 14px;
  color: white !important;
}
.el-bow-info-middle p {
  line-height: 25px;
  font-size: 16px;
}
.el-bow-info-middle p span:nth-child(1) {
  color: #999999;
}
.el-font {
  color: #999;
  margin-right: 20px;
}
.el-bow-info-box {
  font-size: 16px;
}
.el-headernav {
  border-radius: 0;
  margin-bottom: 0;
}
.el-headernav a {
  color: white !important;
}
.el-headernav .navbar-right li a:hover {
  color: #2e8ece !important;
}
.el-headernav .tooltip img {
  width: 110px;
  height: 110px;
}
.el-navcon {
  margin-bottom: 10px;
}
.el-navcon .nav li {
  min-width: 100px;
  text-align: center;
}
.el-navcon .nav li:hover {
  background-color: #ccc;
}
.el-navcon .nav li:hover a {
  color: #2e8ece;
}
.el-navcon .nav li a {
  line-height: 42px;
}
.el-licai {
  margin-top: 20px;
}
.el-licai dl {
  padding-left: 80px !important;
  height: 70px;
}
.el-licai dl dt {
  font-size: 20px;
  font-weight: bold;
}
.el-licai dl dd {
  color: #737373;
}
.el-licai .img-left {
  background-image: url("../images/feature01.png");
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.el-licai .img-middle {
  background-image: url("../images/feature02.png");
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.el-licai .img-right {
  background-image: url("../images/feature03.png");
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.el-content {
  border: 0;
}
.el-content .panel-body {
  padding: 0;
}
.el-content .panel-body .pull-left {
  font-size: 24px;
  color: #2e8ece;
  font-weight: bold;
  border-bottom: 4px solid #2e8ece;
}
.el-content .panel-body .pull-right {
  color: #2e8ece;
}
.el-table thead {
  color: #737373;
}
.el-table tr td:last-child {
  text-align: right;
}
.el-table tr th:last-child {
  text-align: right;
}
.el-table tr th {
  padding-top: 30px !important;
}
.el-table .el-color {
  color: #2e8ece;
}
.el-sinaris .panel-body {
  margin-top: 10px;
}
.el-sinaris table tr td {
  line-height: 30px;
  cursor: pointer;
}
.el-sinaris table tr:hover td {
  color: #2e8ece;
}
.el-footer {
  background-color: #F8F8F8;
  padding-top: 30px;
  margin-top: 30px;
}
.el-footer img {
  width: 100%;
}
.el-footer .el-last {
  color: #2e8ece;
}
