.el-posonnal-content .col-sm-3 ul li {
  padding: 0;
  line-height: 40px;
  background-color: #F5F5F5;
}
.el-posonnal-content .col-sm-3 ul li a {
  width: 100%;
  display: block;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
}
.el-posonnal-content .col-sm-3 ul li ul {
  margin: 0 ;
  padding: 0;
  list-style: none;
}
.el-posonnal-content .col-sm-3 ul li ul li {
  background-color: #FFFFFF;
}
.el-posonnal-content .col-sm-3 ul li ul li a {
  line-height: 40px;
  display: block;
  padding-left: 40px;
}
.el-posonnal-content .col-sm-9 .panel-heading {
  padding-left: 0px;
}
.el-posonnal-content .col-sm-9 .panel-heading img {
  width: 80px;
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}
.el-posonnal-content .col-sm-9 .panel-top {
  border-top: 0 !important;
  border-radius: 0 ;
}
.el-posonnal-content .el-money {
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  font-size: 18px;
}
.el-posonnal-content .el-money .col-sm-4 span {
  color: #337ab7;
}
.el-posonnal-content .el-btn {
  padding-top: 30px;
  padding-bottom: 20px;
}
.el-posonnal-content .el-phone {
  border-bottom: 1px solid #DDDDDD ;
  margin-top: 30px;
}
.el-posonnal-content .el-phone .col-sm-4 {
  padding-top: 20px;
}
#el-main {
  width: 600px;
  height: 100%;
}
/*左侧滑动栏*/
@media screen and (max-width: 768px) {
  .el-posonnal-content {
    overflow: hidden;
  }
  .offcanvas-title {
    min-height: 550px;
  }
  .offcanvas {
    position: relative;
    transition: all  1s;
  }
  .el-offcanvas-left {
    position: absolute;
    left: -50%;
    width: 50%;
  }
  .offcanvas-right {
    position: relative;
  }
  .offcanvas-btn {
    position: absolute;
    padding: 10px 1px;
    z-index: 100 ;
    top: 30%;
    left: -5px;
  }
  .offcanvas-btn i {
    font-size: 30px;
  }
  .active1 {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
  }
  .el-borrow-one {
    min-height: 650px;
  }
  .el-borrow-one .form-group {
    margin: 36px 0 !important;
  }
  .el-borrow-one .el-dialog {
    display: none;
  }
  .el-borrow-one .btn {
    left: 104px !important;
    top: 46px !important;
  }
}
.el-flow table td {
  line-height: 40px !important;
}
.el-title {
  width: 100%;
  height: 50px;
  background-color: #40D47E ;
  color: white;
  font-size: 26px;
  line-height: 50px;
  padding-left: 20px;
  margin-top: 20px ;
}
.el-title-one {
  background-color: #EC7E20 ;
}
.el-title-two {
  background-color: #337ab7;
}
.el-body {
  padding: 30px 10px;
  background-color: #F9F9F9 ;
  width: 100%;
}
.el-body p:nth-child(1) {
  font-size: 20px;
}
.el-body p:nth-child(3) {
  font-size: 14px;
  color: #ADADAD;
}
.el-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.el-body ul li {
  background-image: url("../images/sequare.png");
  background-repeat: no-repeat;
  padding-left: 20px;
}
.el-body > .text-center > a {
  display: inline-block;
  background-color: #00a8ff;
  border-radius: 30px;
  text-align: center;
  padding: 4px 6px;
  margin-top: 10px;
  color: white;
}
.el-head {
  width: 100%;
  padding: 30px 10px;
  background-color: #F4F8FA;
  border-left: 2px solid #337ab7;
}
.el-head strong {
  color: #337ab7;
  font-size: 20px;
  line-height: 30px;
}
.el-head p {
  margin-top: 10px;
}
.el-body2 .panel-body {
  font-size: 25px;
}
.el-body2 .panel-body .label {
  margin-left: 10px;
}
/*表单*/
.el-borrow-one {
  padding-left: 40px;
}
.el-borrow-one .form-group {
  margin: 20px 0;
}
.el-borrow-one .col-sm-3 {
  position: relative;
}
.el-borrow-one .col-sm-3 .form-control {
  position: absolute;
  left: 0;
  width: 80%;
  border-radius: 5px 0 0 5px !important;
}
.el-borrow-one .col-sm-3 .el-span {
  position: absolute;
  display: block;
  margin: 0 ;
  padding: 0;
  width: 20%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #CCCCCC;
  border-left: 0;
  border-radius: 0 5px 5px 0px;
  right: 0;
  background-color: #EEEEEE;
}
.el-borrow-one .col-sm-8 .form-control {
  position: absolute;
  left: 0;
  width: 80%;
  border-radius: 0 !important;
  resize: none;
}
.el-borrow-one .btn {
  position: absolute;
  left: 140px;
  top: 20px;
}
.el-dialog {
  position: absolute;
  right: 180px;
  top: 222px;
  border: 1px solid #DDDDDD;
  width: 32%;
  padding: 20px;
  box-shadow: 0px 0px 30px #EDEDED;
}
.el-borow-footer {
  margin-top: 50px !important;
}
.el-bow-info-title .panel-body {
  text-align: center;
}
.el-bow-info-title img {
  width: 100px;
}
.el-bow-info-title .el-bow-info-left .glyphicon {
  display: inline-block;
  background-color: green;
  padding: 5px;
  color: white;
}
/*中间*/
.el-bow-info-middle p:nth-child(1) {
  color: #337ab7;
  font-size: 25px;
}
.el-bow-info-middle p:nth-child(1) span {
  font-size: 14px;
  color: white !important;
}
.el-bow-info-middle p {
  line-height: 25px;
  font-size: 16px;
}
.el-bow-info-middle p span:nth-child(1) {
  color: #999999;
}
.el-font {
  color: #999;
  margin-right: 20px;
}
.el-bow-info-box {
  font-size: 16px;
}
/* .el-headernav{
    border-radius: 0;
    margin-bottom: 0;
        a{
            color: white !important;
        }
        .navbar-right{
            li{
                
               a{
                    &:hover{
                        color:@baseColor !important;

                    }
                }
            }
        }
        .tooltip{
            img{
                width: 110px;
                height: 110px;
            }
        }
        
} */
.el-licai {
  margin-top: 20px;
}
.el-licai dl {
  padding-left: 80px !important;
  height: 70px;
}
.el-licai dl dt {
  font-size: 20px;
  font-weight: bold;
}
.el-licai dl dd {
  color: #737373;
}
.el-licai .img-left {
  background-image: url("../images/feature01.png");
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.el-licai .img-middle {
  background-image: url("../images/feature02.png");
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.el-licai .img-right {
  background-image: url("../images/feature03.png");
  background-position: 0px 0;
  background-repeat: no-repeat;
}
.el-content {
  border: 0;
}
.el-content .panel-body {
  padding: 0;
}
.el-content .panel-body .pull-left {
  font-size: 24px;
  color: #337ab7;
  font-weight: bold;
  border-bottom: 4px solid #337ab7;
}
.el-content .panel-body .pull-right {
  color: #337ab7;
}
.el-table thead {
  color: #737373;
}
.el-table tr td:last-child {
  text-align: right;
}
.el-table tr th:last-child {
  text-align: right;
}
.el-table tr th {
  padding-top: 30px !important;
}
.el-table .el-color {
  color: #337ab7;
}
.el-sinaris .panel-body {
  margin-top: 10px;
}
.el-sinaris table tr td {
  line-height: 30px;
  cursor: pointer;
}
.el-sinaris table tr:hover td {
  color: #337ab7;
}
.el-footer {
  background-color: #F8F8F8;
  padding-top: 30px;
  margin-top: 30px;
}
.el-footer img {
  width: 100%;
}
.el-footer .el-last {
  color: #337ab7;
}
/* 个人中心 */
.el-personal-main .el-personal-left .list-group li {
  background-color: #f1f1f1;
  padding: 0;
}
.el-personal-main .el-personal-left .list-group li a {
  padding: 10px;
  display: block;
}
.el-personal-main .el-personal-left .list-group li ul {
  list-style: none;
  padding: 0;
}
.el-personal-main .el-personal-left .list-group li ul li {
  background-color: #fff;
  padding-left: 30px;
}
.el-personal-main .el-personal-left .list-group li ul .active {
  background-color: #337ab7;
}
.el-personal-main .el-personal-left .list-group li ul .active a {
  color: #fff;
}
.el-personal-main .el-personal-right {
  padding-top: 10px;
  border-radius: 6px;
}
.el-personal-main .el-personal-right .el-personal-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.el-personal-main .el-personal-right .el-personal-header .el-personal-headerimg {
  margin-right: 20px;
  border: 1px solid #ccc;
}
.el-personal-main .el-personal-right .el-personal-header .el-personal-headerimg img {
  width: 80px;
  padding: 8px;
}
.el-personal-main .el-personal-right .tab-content .tab-pane {
  border: 1px solid #eee;
  border-top: 0;
}
.el-personal-main .el-personal-right .tab-content .tab-pane .panel {
  -webkit-box-shadow: 0 0 0 ;
  box-shadow: 0 0 0 ;
}
.el-personal-main .el-personal-money {
  margin-top: 10px;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.el-personal-main .el-personal-info {
  margin-top: 40px;
}
.el-personal-main .el-personal-info .col-md-4 {
  padding-bottom: 10px;
}
.el-personal-main .el-personal-info .col-md-4 .pull-left dl {
  padding-left: 10px;
}
.el-personal-main .el-personal-info .col-md-4 .pull-left dl dt {
  padding-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .offcanvas {
    position: relative;
    left: 0;
    transition: all 0.6s;
  }
  .offcanvas-left {
    position: absolute;
    left: -50%;
    width: 50%;
  }
  .offcanvas-btn {
    padding: 20px 5px;
    position: absolute;
    left: 0;
    top: 30%;
    z-index: 999;
  }
  .activeside {
    left: 50%;
  }
}
/* 我要投资 */
.il-topbar {
  background-color: #333;
  border-color: #333;
}
.il-main {
  margin-bottom: 20px;
}
.il-main p {
  font-size: 18px;
}
.il-main .clearfix span {
  display: block;
  line-height: 38px;
  padding-right: 20px;
  color: #777;
}
.il-main .clearfix .main-status button {
  width: 80px;
}
.il-main-contant {
  margin-top: 20px;
}
.el-userlnfo-right .form-horizontal .form-group .col-sm-10 p {
  margin: 0;
  padding-top: 6px;
}
.el-regsister-navbar {
  background-color: #f8f8f8;
}
.el-regsister-navbar .container .regsister-navbar-title {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  color: #337ab7;
  line-height: 80px;
}
.el-register-main .panel .panel-body .el-register-main-title {
  text-align: center;
  font-size: 18px;
  color: #999;
  padding: 10px 50px 20px 0;
}
.el-register-main .panel .panel-body .form-group .col-sm-8 input {
  width: 220px;
}
.el-register-main .panel .panel-body .form-group .col-sm-8 .form-group-info {
  margin-top: 5px;
}
.el-register-main .panel .panel-body .el-register-submit {
  padding-top: 20px;
}
.el-register-main .panel .panel-body .el-register-submit p {
  padding-top: 20px;
}
.el-recharge-main .el-recharge-title {
  padding: 20px;
  background-color: #f4f8fa;
  border-left: 2px solid #09d;
}
.el-recharge-main .el-recharge-title h3 {
  color: #09d;
  padding-bottom: 10px;
}
.el-recharge-main .el-recharge-method .method-list {
  border: 1px solid #ccc;
  border-top: 0;
}
.el-recharge-main .el-recharge-method .method-list .text-danger {
  margin: 0;
  padding: 20px 0 10px 0;
}
.el-recharge-main .el-recharge-method .method-list .el-recharge-method-list {
  font-size: 16px;
}
.el-recharge-main .el-recharge-method .method-list .el-recharge-method-list .table tbody tr td {
  margin-top: 8px;
}
.el-recharge-main .el-recharge-method .method-list .el-recharge-method-list .table tbody tr td .el-recharge-bankimg {
  display: block;
  height: 30px;
  background-image: url("../../dist/images/bank_list.png");
  background-repeat: no-repeat;
}
.el-recharge-main .el-recharge-method .method-list .el-recharge-method-list .table tbody tr td .bankimg01 {
  background-position-y: 0px;
}
.el-recharge-main .el-recharge-method .method-list .el-recharge-method-list .table tbody tr td .bankimg02 {
  background-position-y: -34px;
}
.el-recharge-main .el-recharge-method .method-list .el-recharge-method-list .table tbody tr td .bankimg03 {
  background-position-y: -110px;
}
.el-recharge-main .el-recharge-method-step {
  padding: 15px;
}
.el-realauth-right .realauth-img01,
.el-realauth-right .realauth-img02 {
  width: 160px;
  height: 150px;
  border: 1px solid #ccc;
  margin-right: 20px;
  padding: 10px 20px 20px 20px;
}
.el-realauth-right .realauth-img01 p,
.el-realauth-right .realauth-img02 p {
  margin: 0;
  padding-bottom: 10px;
}
.el-realauth-right .realauth-img01 .realauth-imgin,
.el-realauth-right .realauth-img02 .realauth-imgin {
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
}
.el-realauth-right .realauth-showimg {
  padding: 30px;
}
.el-withdraw-con .withdraw-con-information {
  font-size: 18px;
}
.el-withdraw-con .withdraw-con-information .col-md-4 {
  padding: 15px;
}
.el-login-main .form-horizontal .row .h4 {
  margin: 20px 0px;
  color: #999;
  font-size: 18px;
}
/* 顶部导航 */
.el-topbar {
  border-radius: 0;
  margin-bottom: 0;
}
.el-topbar .navbar-brand {
  font-size: 24px;
  color: #fff;
  line-height: 10px;
}
.el-topbar .navbar-brand span {
  font-size: 18px;
}
.el-topbar .navbar-right li a {
  color: #fff;
}
.el-topbar .navbar-right li:hover a {
  color: #337ab7;
}
.el-topbar .navbar-right div img {
  width: 110px;
}
/* 内容导航 */
.el-navbar {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.el-navbar .navbar-brand {
  padding-top: 20px;
}
.el-navbar ul li {
  text-align: center;
}
.el-navbar ul li a {
  height: 80px;
  line-height: 50px;
  font-size: 16px;
  color: #555;
}
.el-navbar ul li a:hover {
  color: #337ab7;
}
/* 主体内容 */
.el-main .feature {
  margin-top: 20px;
}
.el-main .feature .col-md-4 {
  height: 75px;
  padding-left: 100px;
  margin-bottom: 5px;
}
.el-main .feature .col-md-4 dt {
  font-size: 18px;
  margin-bottom: 10px;
}
.el-main .feature .col-md-4 dd {
  color: #999;
}
.el-main .feature .feature-item01 {
  background: url("../../dist/images/feature01.png") no-repeat 20px;
}
.el-main .feature .feature-item02 {
  background: url("../../dist/images/feature02.png") no-repeat 20px;
}
.el-main .feature .feature-item03 {
  background: url("../../dist/images/feature03.png") no-repeat 20px;
}
.el-main .panel {
  border: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 0px;
  box-shadow: 0 0px 0px;
  margin-top: 20px;
}
.el-main .panel .panel-heading {
  padding: 0;
  background-color: #fff;
}
.el-main .panel .panel-heading .pull-left {
  font-size: 24px;
  color: #337ab7;
  font-weight: bold;
  border-bottom: 3px solid #337ab7;
}
.el-main .panel .panel-heading .pull-right {
  margin: 10px 10px 0 0;
}
.el-main .panel .panel-body {
  padding: 0;
  margin-top: 20px;
  font-size: 16px;
}
.el-main .panel .panel-body .el-main-newslist {
  padding: 0;
  list-style: none;
}
.el-main .panel .panel-body .el-main-newslist li {
  border-bottom: 1px solid #eee;
}
.el-main .panel .panel-body .el-main-newslist li a {
  display: block;
  font-size: 14px;
  color: #555;
  line-height: 38px;
}
.el-main .panel .panel-body .el-main-newslist li a:hover {
  color: #337ab7;
}
.el-main .panel .panel-body .table thead th {
  color: #999999;
  font-size: 14px;
}
/* 页脚 */
.el-footer {
  padding: 30px 0 40px 0;
  margin: 20px 0 0 0;
  background-color: #f8f8f8;
}
.el-footer .col-md-8 {
  padding-left: 10px;
}
.el-footer .col-md-2 p {
  padding-left: 10px;
}
.el-footer .col-md-2 img {
  width: 100%;
}
