/*底部信息*/
#footer .footer_logo{
	width: 136px;
	height: 91px;
	background: url(../images/logo2.png) no-repeat;
	margin-right: 90px;
}
#footer .copyright{
	color: white;
}
#footer .copyright p{
	line-height: 24px;
}
#footer .copyright h3{
	font-size: 14px;
	/*font-weight: bold;*/
	line-height: 40px;
}
